<div id="sign-up-container" class="container">
  <div id="sign-up-jumbotron" class="jumbotron">
    <form class="form-signin">
      <h3 class="form-signin-heading">Sign up for Gamemaster</h3>
      <input type="text" class="form-control sign-up-username" placeholder="Username" autofocus>
      <input type="text" class="form-control sign-up-email" placeholder="Email">
      <input type="password" class="form-control sign-up-password" placeholder="Password">
      <div class="form-group">
        <label for="notification1">Remember me</label>
        <div class="make-switch" data-animated="false" data-on-label="yes" data-off-label="no" data-on="success">
          <input type="radio" id="notification1">
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block sign-up">Sign Up</button>
    </form>
  </div>
</div>